apiVersion: apps/v1
kind: Deployment
metadata:
  name: billing-service
  namespace: guidewire-apps
  labels:
    app: billing-service
    app.kubernetes.io/part-of: guidewire-poc
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: billing-service
  template:
    metadata:
      labels:
        app: billing-service
        app.kubernetes.io/part-of: guidewire-poc
    spec:
      containers:
        - name: billing-service
          image: image-registry.openshift-image-registry.svc:5000/guidewire-apps/billing-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8082
              protocol: TCP
          env:
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://postgres.guidewire-infra.svc.cluster.local:5432/billing"
            - name: SPRING_DATASOURCE_USERNAME
              value: "billing_user"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "billing123"
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: "kafka-cluster-kafka-bootstrap.guidewire-infra.svc.cluster.local:9092"
            - name: APICURIO_REGISTRY_URL
              value: "http://apicurio-registry.guidewire-infra.svc.cluster.local:8080/apis/registry/v2"
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8082
            initialDelaySeconds: 60
            periodSeconds: 10
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8082
            initialDelaySeconds: 15
            periodSeconds: 5
            failureThreshold: 3
