apiVersion: apps/v1
kind: Deployment
metadata:
  name: customers-service
  namespace: guidewire-apps
  labels:
    app: customers-service
    app.kubernetes.io/part-of: guidewire-poc
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: customers-service
  template:
    metadata:
      labels:
        app: customers-service
        app.kubernetes.io/part-of: guidewire-poc
    spec:
      containers:
        - name: customers-service
          image: image-registry.openshift-image-registry.svc:5000/guidewire-apps/customers-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8085
              protocol: TCP
          env:
            - name: DATABASE_URL
              value: "postgresql://customers_user:customers123@postgres.guidewire-infra.svc.cluster.local:5432/customers"
            - name: KAFKA_BROKERS
              value: "kafka-cluster-kafka-bootstrap.guidewire-infra.svc.cluster.local:9092"
            - name: APICURIO_REGISTRY_URL
              value: "http://apicurio-registry.guidewire-infra.svc.cluster.local:8080/apis/registry/v2"
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "250m"
          livenessProbe:
            tcpSocket:
              port: 8085
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /api/v1/customers?page=1&size=1
              port: 8085
            initialDelaySeconds: 15
            periodSeconds: 5
            failureThreshold: 3
